@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@tailwind utilities;

@theme {
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
  }

  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }
}